[submodule "class5/5-explore-a-project"]
	path = class5/5-explore-a-project
	url = https://github.com/lcg-infodesign/lavoro-di-gruppo-gruppo-2
[submodule "class5/4-explore-a-project"]
	path = class5/4-explore-a-project
	url = https://github.com/lcg-infodesign/lavoro-di-gruppo-gruppo-2
